@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

body {
  background-color: #FEAFC3;
  font-family: Inter, Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #565C66;
  margin: 0;
}

li {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*HEADER*/
.page-header {
  display: flex;
  width: 1170px;
  height: 104px;
  margin: 0 98px;
}

.page-header-logo {
  padding: 24px 0;
}

.navigation-item {
  line-height: 20px;
  color: #2D3440;
}

.navigation {
  align-items: center;
}

.navigation-list {
  display: flex;
}

.navigation-search {
  background: url("../images/search.svg") no-repeat center;
  width: 32px;
  height: 32px;
  background-position: center;
  border-radius: 27px;
  background-color: rgba(252, 252, 252, 0.3);
}

.navigation-login {
  background: url("../images/login.svg") no-repeat;
  width: 88px;
  height: 32px;
  background-position: left;
  border-radius: 27px;
  background-color: rgba(252, 252, 252, 0.3);
}

.navigation-cart {
  background: url("../images/cart.svg") no-repeat;
  width: 115px;
  height: 32px;
  background-position: left;
  border-radius: 27px;
  background-color: rgba(252, 252, 252, 0.3);
  text-align: center;
}

.navigation-link {
  color: #2D3440;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
}

/*SLIDER BLOCK*/
.banner {
  display: flex;
}

.slider-title {
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
  color: #2D3440;
  width: 470px;
  height: 92px;

}

.slider-title-text {
  font-size: 18px;
  line-height: 24px;
  color: #2D3440;
  width: 429px;
  height: 72px;

}

.product-list {
  text-align: center;
}

.slider-social-media{
display:flex;
}

.telegram {
  background: url("../images/telegram-logo.svg") no-repeat center;
  width: 24px;
  height: 24px;
  background-position: center;
  border-radius: 27px;
  background-color: #FCFCFC;
}

.vk {
  background: url("../images/vk-logo.svg") no-repeat center;
  width: 24px;
  height: 24px;
  background-position: center;
  border-radius: 27px;
  background-color: #FCFCFC;
}

.youtube {
  background: url("../images/youtube-logo.svg") no-repeat center;
  width: 24px;
  height: 24px;
  background-position: center;
  border-radius: 27px;
  background-color: #FCFCFC;
}

/*PRESENTS*/

.call-to-action-present,
.call-to-action-try {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  color: #2D3440;
  margin-left: auto;
  margin-right: auto;
}

.call-to-action-present {
  width: 434px;
  height: 92px;
}

.present-item {
  display: flex;
  justify-content: space-between;
}

.present-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2D3440;
  width: 434px;
  height: 92px;
}

.present-text {
  color: #2D3440;
  width: 328px;
  height: 66px;
}

.present-1,
.present-2 {
  display: flex;
  background-color: #FF7799;
  width: 570px;
  height: 268px;
  border-radius: 16px;

}

/*ABOUT*/
.call-to-action {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  color: #2D3440;
}

.about-list {
  display: flex;
  flex-wrap: wrap;
}

.about-card {
  display: flex;
  width: 505px;
  height: 66px;
  justify-content: center;
}

/*NEWS*/

.news-section {
  display: flex;
}

.news {
  background: url("../images/news.jpg") no-repeat;
  width: 570px;
  height: 224px;
  border-radius: 16px;
  background-size: cover;
  background-color: aliceblue;
}

.email {
  background: url("../images/post.jpg") no-repeat;
  width: 570px;
  height: 224px;
  border-radius: 16px;
  background-size: cover;
  background-color: aliceblue;
}

.news-text-body {
  width: 506px;
  height: 66px;
  padding-top: 26px;
}

.news-text {
  line-height: 20px;
}

/*CATALOG-MINI*/

.call-to-action-try {
  width: 527px;
  height: 92px;
}

.product-list {
  display: flex;
}

.product-card-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2D3440;
  text-decoration: none;
}

.product-card-link {
  text-decoration: none;
}

.product-card-description {
  text-decoration: none;
  color: #565C66;
  text-align: center;
}

.catalog-mini-button {
  background: url("../images/cart.svg") no-repeat center;
  width: 32px;
  height: 32px;
  background-position: center;
  border-radius: 26px;
  background-color: #FF2F64;
}

.product-card-price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2D3440;
}


.form-label {
  font-weight: 700;
  line-height: 20px;
  color: #2D3440;
}

.contacts-subtitle {
  font-size: 16px;
  line-height: 22px;
}

.contacts-address-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2D3440;

}

/*ORDER*/
.call-to-action-order {
  width: 356px;
  height: 92px;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2D3440;
}

.order-text {
  width: 371px;
  height: 88px;
}


/*Адрес и контакты*/
.contacts {
  background: url("../images/contacts.jpg") no-repeat;
  width: 1170px;
  height: 492px;
  background-size: cover;
  border-radius: 16px;
  background-color: aliceblue;
}

.contacts-address-tel {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #2D3440;
}

.contacts-form {
  text-decoration: none;
  color: white;
  background-color: #FF2F64;
  width: 250px;
  height: 44px;
  border-radius: 26px;
  text-align: center;
}

.footer-info a {
  text-decoration: none;
  color: #2D3440;
  font-size: 14px;
  line-height: 20px;
}

.footer-info-item {
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
}

.footer-creator-name {
  color: #2D3440;
  font-size: 12px;
  line-height: 16px;
}

.htmlacademy-link {
  color: #2D3440;
}

.contacts-address {
  font-style: normal;
}



/*catalog.html*/

.breadcrumbs-link {
  color: #2D3440;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
}

.inner-header-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2D3440;
}

.catalog-filter {
  color: #2D3440;
}

.pagination-link {
  text-decoration: none;
  color: #2D3440;
  font-size: 16px;
  line-height: 20px;
}

.pagination-current {
  width: 24px;
  height: 24px;
  background: #FCFCFC;
  border-radius: 50px;
  text-align: center;
}
